name: CI

on: [pull_request]

jobs:
  ci:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        python-version: [2.7, 3.8]
        os: [ubuntu]

    steps:
      - uses: actions/checkout@v2
      - run: git remote -v
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: make install
      - run: make lint
      - run: git remote add tests https://:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
      - run: make -e DOCS_BRANCH="test-${{ matrix.os }}-${{ matrix.python-version }}" -e REMOTE=tests docs
